/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Hindi Madurai  */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  background-image: url(images/mountains.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(217, 0%, 99%);
  border: none;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.043),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.069),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.083),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.087),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.083),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  max-width: 500px;
  overflow: hidden;
  height: 300px;
  border-radius: 12px;
}
.content {
  text-wrap: balance;
  padding: 5px;
}

p {
  text-wrap: balance;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: -40px;
}

h4 {
  text-wrap: balance;
  font-family: "Hind Madurai";
  font-size: 0.95rem;
  font-weight: 400;
  font-style: italic;
  margin-left: 270px;
  margin-top: 70px;
}

.content img {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.button-3 {
  cursor: pointer;
  height: 40px;
  padding: 5px;
  border: none;
  font-size: 8px;
  color: #fff;
  position: absolute;
  border-radius: 14px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  max-width: 100%;
  margin-left: 90px;
  margin-top: 20px;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.button-3::after {
  content: '';
  width: 450px;
  height: 1px;
  background-color: black;
  position: absolute;
  left: -320px;
  top: -15px;
}


.button-3:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255),
    0 0 10px rgb(0, 140, 255),
    0 0 35px rgb(0, 140, 255),
    0 0 55px rgb(0, 140, 255);
}
